<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding 
					name="HttpLimitBinding" 
					maxReceivedMessageSize="2147483647"
					openTimeout="00:20:00"
                    closeTimeout="00:20:00"
                    sendTimeout="00:20:00"
                    receiveTimeout="00:20:00">
                    <security mode="None" />
                </binding>
				
                <binding name="BasicHttpBinding_ITerminalService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:65422/TerminalService.svc"
                binding="basicHttpBinding" bindingConfiguration="HttpLimitBinding"
                contract="TerminalService.ITerminalService" name="BasicHttpBinding_ITerminalService" />
        </client>
    </system.serviceModel>
</configuration>